---
import Link from '@astro/special/Link.astro';
import { SOCIAL_NETWORKS } from '@const/socialNetworks.ts';
---

<footer class='w-full'>
	<div
		class='max-w-screen-xl m-auto flex flex-col h-36 items-center justify-evenly md:justify-around md:flex-row gap-2 text-center'
	>
		<span class='text-lg'>
      &copy;2023 Todos los derechos reservados
		</span>
		<ul class='flex justify-center items-center gap-4'>
			{
				SOCIAL_NETWORKS.map(({ href, IconComponent, target, rel }) => (
					<li>
						<Link href={href} target={target} rel={rel}>
							<IconComponent />
						</Link>
					</li>
				))
			}
		</ul>
	</div>
</footer>
