<div class='flex items-center gap-x-2'>
	<label
		for='darkLightMode'
		class='block uppercase text-sm font-medium text-[#151515] dark:text-[#ccc]'>tema:</label
	>
	<select
		id='darkLightMode'
		class='block w-full bg-[#ccc] text-[#151515] dark:bg-[#151515] dark:text-[#ccc] text-sm px-2 md:px-4 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-red-500 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500'
	>
		<option value='light'>Light</option>
		<option value='dark'>Dark</option>
	</select>
</div>
