---
import Main from '@components/specialComp/main.astro'
---

<Main
	className='flex flex-col items-center justify-center gap-4 w-full pt-16 mt-16 md:mt-32 overflow-x-hidden md:flex-row md:flex-wrap md:justify-center md:lg:xl:mt-24'
>
	<div class='w-full md:w-1/2 lg:w-1/3 px-4 dark:bg-[#313131] rounded-lg shadow-md p-6 my-4'>
		<header>
			<h2 class='text-center text-2xl font-bold mb-4'>Novedades</h2>
		</header>
		<div class='prose'>
			<ol class='[&>_list-disc]'>
				<li>Publicacion de la pagina 🎉✨🎊</li>
				<li>
					Informacion de los proximos partidos en
					<p>
						<a
							class='text-blue-500 hover:underline'
							href='https://www.estudiantesdelaplata.com/estadio'>UNO</a
						>
					</p>
					 con un cronometro que indica el tiempo que falta para el partido
				</li>
				<li>
					Enrutamiento:
					<ul>
						<li class='px-2 py-1'>
							<p>
								<span class='bg-gray-600 rounded-lg'>/</span> Pagina principal
							</p>
						</li>
						<li>
							<p>
								<span class='bg-gray-600 rounded-lg'>/[vs]</span> Ruta para ver la info de un solo
								equipo...
							</p>
						</li>
						<li>
							<p>
								<span class='bg-gray-600 rounded-lg'>/api/2023/partidos</span> Ruta para ver todos
								los partidos del año 2023
							</p>
						</li>
						<li>
							<p>
								<span class='bg-gray-600 rounded-lg'>/api/2023/partidos/[vs]</span> Ruta para ver la
								info de la API de un solo equipo
							</p>
						</li>
						<li>
							<p>
								<span class='bg-gray-600 rounded-lg'
									>/api/2023/agregarPartidos
									<span class='font-bold italic'> Comming Soon!</span>
								</span>
							</p>
						</li>
						<li>
							<p>
								<span class='bg-gray-600 rounded-lg'>/404</span> pagina de 404 en caso de que cuando
								se pasa un vs en la ruta
								<span class='bg-gray-600 rounded-lg'> /[vs]</span> no existe o si la ruta esta mal
								escrita
							</p>
						</li>
						<li>
							<p>
								<span class='bg-gray-600 rounded-lg'>
									`/agregarPartidos` <span class='font-bold italic'>Comming Soon!</span>
								</span> Formulario para agregar proximo partidos en el estadio
								<p>
									<a
										class='text-blue-500 hover:underline'
										href='https://www.estudiantesdelaplata.com/estadio'>UNO</a
									>
								</p>
							</p>
						</li>
						<li>
							<p>
								<span class='bg-gray-600 rounded-lg'>`/nuevo/v1`</span> pagina en la q estas ahora
								mismo
							</p>
						</li>
					</ul>
				</li>
				<li>
					<p>
						<span class='bg-gray-600 rounded-lg'> EasterEgg/s 😏</span> (de momento solo uno)
					</p>
				</li>
				<li>
					<p>
						Light y Dark mode <span class='font-bold italic'
							>*default*: <p class='bg-gray-600 rounded-lg'>light</p></span
						>
					</p>
				</li>
			</ol>
		</div>
		<div>
			<h3 class='text-lg font-semibold my-2'>Proximas Actualizaciones v2</h3>
			<label class='flex items-center' for=''>
				<input type='checkbox' name='' id='' class='mr-2' />
				 Agregar rutas por idioma
			</label>

			<label class='flex items-center' for=''>
				<input type='checkbox' name='' id='' class='mr-2' />
				 Agregar la implementacion del formulario
			</label>
		</div>
    <div>
      <code id='code'>
        console.log('Made by Astro')
      </code>
    </div>
	</div>
</Main>

<script>

</script>
