---
import Button from '@astro/Button.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title='404: Equipo no encontrado'>
	<main class='max-w-screen-xl h-full'>
		<section class='flex flex-row justify-center items-center h-full relative'>
			<div>
        <h1 class='text-9xl absolute'>404</h1>
        <div class='p-4'>
          <picture>
						<img
							loading='lazy'
							class='z-10 w-24 h-auto m-auto md:w-full'
							src='/assets/404.svg'
							alt='404 Not Found'
						/>
					</picture>
				</div>
        <p class='text-center text-6xl'>
          Vaya! <p class='text-3xl text-center'> Esta pagina no existe.</p>
        </p>
			</div>
			<div class=''>
				<Button
					className=''
					href='/'
				>
					Volver a inicio
				</Button>
			</div>
		</section>
	</main>
</Layout>
