---
import Button from '@astro/Button.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title='404: Equipo no encontrado'>
	<main class=''>
		<section class=''>
			<div>
				<h1 class='' >404</h1>
				<div class=''>
					<picture>
						<img
							loading='lazy'
							class='z-10 w-60 h-auto m-auto md:w-full'
							src='/assets/404.svg'
							alt='404 Not Found'
						/>
					</picture>
					<p class=''>
						Vaya! <p class=''> Esta pagina no existe.</p>
					</p>
				</div>
			</div>
			<div class=''>
				<Button
					className=''
					href='/'
				>
					Volver a inicio
				</Button>
			</div>
		</section>
	</main>
</Layout>
