---
import Component from '@components/Component.astro'
import { components as componentsArray } from '@const/components.ts'
import Layout from '@layouts/Layout.astro'
---

<Layout>
	<main class='max-w-xl'>
		<div>
			{
				componentsArray.map(({ name, ComponentDoc }) => (
					<Component nameComponent={name}>
						<ComponentDoc />
					</Component>
				))
			}
		</div>
	</main>
</Layout>
