---
import Card from './Card.astro'
import type { IPartidos } from '~/const/types'

interface Props {
	partidos: Array<IPartidos>
}

const { partidos } = Astro.props
---

{
	partidos.length && (
		<div class='grid place-items-center grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4'>
			{partidos.map((props) => (<Card {...props} />))}
		</div>
	)
}
