---
import { type Fecha } from '@const/types.d'

interface Props {
	fecha: Fecha | number
}

const { fecha } = Astro.props
---

<p class='text-xs capitalize'>
	{typeof fecha === 'number' ? <>Fecha {fecha}</> : <>{fecha}</>}
</p>
