---
import { SOCIAL_NETWORKS } from '@const/socialNetworks.ts'
import Link from './Link.astro'

const currentYear = new Date().getFullYear()
---

<footer class='flex justify-center w-full h-16 mx-auto'>
	<div class='flex flex-col md:flex-row items-center justify-evenly w-[60%]'>
		<span>
			&copy; {currentYear} All right reserved.
		</span>
		<ul class='flex items-center gap-4'>
			{
				SOCIAL_NETWORKS.map(({ href, IconComponent, target, rel, disabled }) => (
					<li>
						<Link href={href} target={target} rel={rel} className={`${disabled ? 'hidden' : ''}`}>
							<IconComponent />
						</Link>
					</li>
				))
			}
		</ul>
	</div>
</footer>
