---
import Link from './Link.astro'
// import DiscordIcon from '~/assets/Discord.astro'
import GithubIcon from '~/assets/Github.svg'
import InstagramIcon from '~/assets/Instagram.svg'
import Threadsicon from '~/assets/Threads.svg'
import TwitterIcon from '~/assets/Twitter.svg'
import type { INetworkSocial } from '~/const/types.d'

const SOCIAL_NETWORKS: Array<INetworkSocial> = [
  {
    href: 'https://instagram.com/octaviocaro_23.tsx',
    IconComponent: InstagramIcon,
    target: '_blank',
    rel: 'noopener noreferrer'
  },
  {
		href: 'https://threads.net/@octaviocaro_23.tsx',
    IconComponent: Threadsicon,
    target: '_blank',
    rel: 'noopener noreferrer'
  },
  {
    href: 'https://twitter.com/CaroOcta00',
    IconComponent: TwitterIcon,
    target: '_blank',
    rel: 'noopener noreferrer'
  },
  {
    href: 'https://github.com/OctaEDLP00/cuando-juega-edlp',
    IconComponent: GithubIcon,
    target: '_blank',
    rel: 'noopener noreferrer'
  },
  /*
  {
    href: 'https://discordapp.com/users/684060236549718132',
    IconComponent: DiscordIcon,
    target: '_blank',
    rel: 'noopener noreferrer',
    disabled: true
  }
  */
]

const currentYear = new Date().getFullYear()
---

<footer class='flex justify-center w-full h-[5rem] mx-auto'>
	<div class='flex flex-col md:flex-row items-center justify-evenly w-[60%]'>
		<span>
			&copy; {currentYear} All right reserved.
		</span>
		<ul class='flex items-center gap-4'>
			{
				SOCIAL_NETWORKS.map(({ href, IconComponent, target, rel, disabled }) => (
					<li>
						<Link href={href} target={target} rel={rel} className={`${disabled ? 'hidden' : ''}`}>
							<IconComponent />
						</Link>
					</li>
				))
			}
		</ul>
	</div>
</footer>
