<header class='flex items-center justify-center h-full'>
	<a href='/' class=''>
		<h1 class='text-4xl uppercase font-medium'>
			cuando juega <span
				class='text-transparent bg-clip-text bg-gradient-to-r from-red-700 via-red-500 to-red-300'
				>edlp</span
			>
		</h1>
	</a>
</header>
