---
import type { Rel, Target } from '@const/types.d'
interface Props {
	href: string
	target?: Target | undefined
	rel?: Rel | undefined
	className?: string | undefined
}
const { href, target, rel, className } = Astro.props
---

<a
	href={href}
	target={target}
	rel={rel}
	class={`${className} flex justify-center w-8 h-8 sm:w-10 sm:h-10`}
>
	<slot />
</a>
