---
import Select from './Select.astro'
---

<nav
	class='dark:bg-[#151515] bg-[#ccc] flex flex-col lg:flex-row z-50 justify-evenly items-center fixed top-0 left-0 w-full p-4 shadow-md text-center'
>
	<header class='uppercase'>
		<h1 class='text-xl md:text-2xl lg:text-4xl xl:text-6xl'>cuando juega edlp</h1>
		<h2 class='text-xs md:text-md lg:text-base xl:text-xl'>el próximo partido en uno</h2>
	</header>
	<div class='flex flex-row gap-x-4 p-2 items-center'>
		<Select />
	</div>
</nav>
