<nav
	class='dark:bg-[#151515] flex flex-col lg:flex-row z-50 justify-evenly items-center fixed top-0 left-0 w-full p-4 shadow-md text-center'
>
	<header class='uppercase'>
		<h1 class='text-xl md:text-2xl lg:text-4xl xl:text-6xl'>cuando juega edlp</h1>
		<h2 class='text-xs md:text-md lg:text-base xl:text-xl'>el próximo partido en uno</h2>
	</header>
	<div class='flex flex-row gap-x-4 p-4 items-center'>
		<label class='block text-xs md:text-xl font-medium' for='darkLightMode'>Select theme:</label>
		<select
			class='dark:text-white dark:bg-[#222] bg-white text-base rounded-lg block w-28 xl:w-36 p-0.5 xl:p-1.5'
			id='darkLightMode'
		>
			<option value='light'>Light</option>
			<option value='dark'>Dark</option>
		</select>
	</div>
</nav>
