<label for='darkLightMode' class='capitalize block text-xl md:text-xl font-medium'>tema:</label>
<select
	id='darkLightMode'
	class='block w-36 text-sm text-center border dark:text-[#ddd] dark:bg-[#222] bg-[#ddd] rounded-lg border-none dark:placeholder-gray-400 p-0.5 xl:p-1.5'
>
	<option value='light'>Light</option>
	<option value='dark'>Dark</option>
</select>
