<label for='darkLightMode' class='block text-base md:text-xl font-medium'>theme:</label>
<select
	id='darkLightMode'
	class='block w-full text-sm border dark:text-[#ddd] dark:bg-[#222] bg-[#ddd] rounded-lg border-none dark:placeholder-gray-400 xl:w-36 p-0.5 xl:p-1.5'
>
	<option value='light'>Light</option>
	<option value='dark'>Dark</option>
</select>
