---
import Footer from '@astro/Footer.astro'
import Links from '@astro/Links.astro'
import Meta from '@astro/Meta.astro'
import Navbar from '@astro/Navbar.astro'
import Scripts from '@astro/Scripts.astro'
import { ViewTransitions } from 'astro:transitions'
import '../styles/main.css'
import { ILayoutProps } from '../types/main'

const { title } = Astro.props as ILayoutProps
---

<!DOCTYPE html>
<html lang='es'>
	<head>
    <Meta />
    <Links />
    <Scripts />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class='font-CCLP bg-[#ccc] text-[#151515] dark:bg-[#151515] dark:text-[#ccc] scroll-smooth'>
    <div id='App' class='flex flex-col m-auto justify-center md:h-screen w-full max-w-screen-xl h-screen'>
      <Navbar />
      <slot />
      <Footer />
    </div>
  </body>
</html>
