---
import { getOgImage } from '@utils/supabase'
import EasterEgg from '@components/head/EasterEgg.astro'
import Links from '@components/head/Links.astro'
import Meta from '@components/head/Meta.astro'
import SchemaMarkup from '@components/head/SchemaMarkup.astro'
import '../styles/main.css'

// const { data, error } = await getOgImage()
// if (error) console.error(error)
// const { image } = data

interface Props {
	title: string
	description?: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<Meta
			title={title}
			ogImage='https://rwvrxejmxblbgualefhj.supabase.co/storage/v1/object/public/image-og/og.png'
		/>
		<Links />
		<EasterEgg />
		<SchemaMarkup />
	</head>
	<body class='dark:bg-[#151515] dark:text-[#ccc] bg-[#ccc] text-[#151515] font-CCLP scroll-smooth'>
		<div id='App' class='w-full h-screen mx-auto'>
			<slot />
		</div>
	</body>
</html>
