---
import { ILayoutProps } from '@/types/main'
import Footer from '@components/Footer.astro'
import Navbar from '@components/Navbar.astro'
import Links from '@components/head/Links.astro'
import Meta from '@components/head/Meta.astro'
import Scripts from '@components/head/Scripts.astro'
import { ViewTransitions } from 'astro:transitions'
import '../styles/main.css'

const { title } = Astro.props as ILayoutProps
---

<!doctype html>
<html lang='es'>
	<head>
    <Meta />
    <Links />
    <Scripts />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class='dark:bg-[#151515] dark:text-[#ccc] bg-[#ccc] text-[#151515] font-CCLP scroll-smooth'>
    <div id='App' class='w-screen max-w-6xl mx-auto h-full'>
      <Navbar />
      <slot />
      <Footer />
    </div>
  </body>
</html>
